name: Continuous Integration

on:
  pull_request:
    branches:
      - master

jobs:

  build:
    name: Docker build
    runs-on: ubuntu-latest
    outputs:
      pr: ${{ steps.pr.outputs.pr}}
    steps:
    - uses: actions/checkout@v3.3.0
    - run: docker build .